<div class="main_bar">
  <p class="main_bar--title">Parkjju's Today I Learned</p>

  <div class="main_bar--right">
    <!-- 검색창 -->
    <form action="" method="get" class="search-box">
      <i class="fas fa-search"></i>
      <input class="search-form" type="text" autocomplete="off" />
    </form>

    <!-- 링크버튼 -->
    <div
      class="main_bar--link"
      onclick="window.open('https://github.com/Parkjju')"
    >
      <p>Github</p>
      <i class="fas fa-external-link-alt"></i>
    </div>
  </div>
</div>
