<div class="menu-bar">
    <ul>
        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#MIL"
                aria-expanded="false"
                aria-controls="MIL"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Monthly I Learned</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="MIL">
            <div class="card card-body">
                <a href="./21July4" target="_self">2021년 07월 3주</a>
            </div>
            <div class="card card-body">
                <a href="./21July5" target="_self">2021년 07월 4주 ~ 5주</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#books"
                aria-expanded="false"
                aria-controls="books"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Books</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="books">
            <div class="card card-body">Hello</div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse5"
                aria-expanded="false"
                aria-controls="collapse5"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Computer Science</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse5">
            <div class="card card-body">
                <a href="./docker" target="_self">Docker란?</a>
            </div>
            <div class="card card-body">
                <a href="./domain" target="_self">Domain이란</a>
            </div>
            <div class="card card-body">
                <a href="./serverless" target="_self">Serverless</a>
            </div>
            <div class="card card-body">
                <a href="./library" target="_self">library vs framework</a>
            </div>
            <div class="card card-body">
                <a href="./api" target="_self">API 란?</a>
            </div>
            <div class="card card-body">
                <a href="./devops" target="_self">devops 정리</a>
            </div>
            <div class="card card-body">
                <a href="./web_request" target="_self">web요청과 응답과정</a>
            </div>
            <div class="card card-body">
                <a href="./block-chain" target="_self"
                    >nomad coders 블록체인 시리즈 총정리</a
                >
            </div>
            <div class="card card-body">
                <a href="./begin" target="_self"
                    >coursera series - Digital Logic</a
                >
            </div>
            <div class="card card-body">
                <a href="./Module-Introduction" target="_self"
                    >coursera series - Hardware</a
                >
            </div>
            <div class="card card-body">
                <a href="./OS" target="_self">coursera series - OS</a>
            </div>
            <div class="card card-body">
                <a href="./networking" target="_self"
                    >coursera series - networking</a
                >
            </div>
            <div class="card card-body">
                <a href="./software" target="_self"
                    >coursera series - software</a
                >
            </div>
            <div class="card card-body">
                <a href="./tech-talk" target="_self">10분 테코톡 정리</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#django"
                aria-expanded="false"
                aria-controls="django"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Django</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="django">
            <div class="card card-body">
                <a href="./djangoSetting" target="_self"
                    >Django 셋업 및 시작하기</a
                >
            </div>
            <div class="card card-body">
                <a href="./classview" target="_self">Django 클래스 기반 뷰</a>
            </div>
            <div class="card card-body">
                <a href="./djangoWeb" target="_self"
                    >Python 웹 프로그래밍 기초편</a
                >
            </div>
            <div class="card card-body">
                <a href="./django-css" target="_self"
                    >Python django - How to add css to django application</a
                >
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse2"
                aria-expanded="false"
                aria-controls="collapse2"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Algorithm</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse2">
            <div class="card card-body">
                <a href="./shortest" target="_self">
                    Bellman Ford & Dijkstra 최단경로 알고리즘
                </a>
            </div>
            <div class="card card-body">
                <a href="./all-to-all" target="_self">all-to-all 최단경로 </a>
            </div>
            <div class="card card-body">
                <a href="./Recursion" target="_self"> Recursion 재귀 </a>
            </div>
            <div class="card card-body">
                <a href="./selection" target="_self"
                    >선택문제 - k번째로 작은 수, Quickselection & MoM
                </a>
            </div>
            <div class="card card-body">
                <a href="./mom" target="_self"
                    >MOM - Median of Medians 알고리즘 설명 + 수행시간
                </a>
            </div>
            <div class="card card-body">
                <a href="./divide" target="_self"
                    >Divide and Conquer 알고리즘 설명 & 예시
                </a>
            </div>
            <div class="card card-body">
                <a href="./sorting" target="_self">정렬 알고리즘 </a>
            </div>
            <div class="card card-body">
                <a href="./DP" target="_self">동적계획법 DP</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#boj"
                aria-expanded="false"
                aria-controls="collapse9"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">BOJ</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="boj">
            <div class="card card-body">
                <a href="./boj" target="_self">문제들 정리</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Data structure</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse3">
            <div class="card card-body">
                <a href="./data_structure" target="_self">자료구조의 이해 </a>
                <a href="./sequential_structure" target="_self"
                    >선형 자료구조
                </a>
                <a href="./hash_table" target="_self">해시 테이블 자료구조 </a>
                <a href="./stack_cal" target="_self"
                    >스택을 이용하여 계산기 구현하기
                </a>
                <a href="./SinglyLinkedList" target="_self"
                    >한 방향 연결리스트 연산 구현
                </a>
                <a href="./doublyLinkedList" target="_self"
                    >양 방향 연결리스트 연산 구현
                </a>
                <a href="./pydict" target="_self"
                    >파이썬의 딕셔너리 작동방식
                </a>
                <a href="./tree" target="_self">트리 자료구조 </a>
                <a href="./open_addressing" target="_self"
                    >해시테이블 open addressing 실습
                </a>
                <a href="./heap" target="_self">heap 자료구조 </a>
                <a href="./union-find" target="_self">union find 자료구조 </a>
                <a href="./graph" target="_self">graph 자료구조 </a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse4"
                aria-expanded="false"
                aria-controls="collapse4"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Python</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse4">
            <li class="sidebar-group" role="menuitem">
                <p
                    class="sidebar-heading"
                    data-bs-toggle="collapse"
                    href="#pythonNewbie"
                    aria-expanded="false"
                    aria-controls="pythonNewbie"
                    onclick="rotate(this)"
                >
                    <span class="sidebar-heading--name">Python 초급</span>
                    <!-- <i class="fas fa-caret-right fa-xs"></i> -->
                </p>
            </li>
            <div class="collapse" id="pythonNewbie">
                <div class="card card-body">
                    <a href="./functions" target="_self">입출력과 변수 </a>
                </div>
                <div class="card card-body">
                    <a href="./input_and_print" target="_self"
                        >간단한 함수 만들기
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./input_loop" target="_self"
                        >프로그램 사용자로부터 입력받기 + 코드의 반복
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./int_float_data" target="_self"
                        >int형 데이터와 float형 데이터
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./list_string" target="_self">리스트와 문자열 </a>
                </div>
                <div class="card card-body">
                    <a href="./list_function" target="_self"
                        >리스트와 문자열의 함수들
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./TF" target="_self">True,False, if문과 형제들 </a>
                </div>
                <div class="card card-body">
                    <a href="./for_while_loop" target="_self"
                        >while, 이중 for루프
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./tuple_range" target="_self">튜플과 레인지 </a>
                </div>
                <div class="card card-body">
                    <a href="./functions_add" target="_self"
                        >함수에 대한 추가적인 설명 - 디폴트값 등
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./modules" target="_self">모듈(Modules) </a>
                </div>
                <div class="card card-body">
                    <a href="./dictionary" target="_self"
                        >딕셔너리(Dictionary)
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./class" target="_self">클래스와 객체 </a>
                </div>
                <div class="card card-body">
                    <a href="./unexpect" target="_self">예외처리</a>
                </div>
            </div>
            <li class="sidebar-group" role="menuitem">
                <p
                    class="sidebar-heading"
                    data-bs-toggle="collapse"
                    href="#pythonUser"
                    aria-expanded="false"
                    aria-controls="pythonUser"
                    onclick="rotate(this)"
                >
                    <span class="sidebar-heading--name">Python 중급</span>
                    <!-- <i class="fas fa-caret-right fa-xs"></i> -->
                </p>
            </li>
            <div class="collapse" id="pythonUser">
                <div class="card card-body">
                    <a
                        href="./reference_count_garbage_collection"
                        target="_self"
                        >레퍼런스 카운트와 가비지 컬렉션
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./immutable_mutable" target="_self"
                        >수정 가능한 객체와 수정 불가능한 객체
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./deep_shallow_copy" target="_self"
                        >깊은 복사와 얕은 복사
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./hide_dict" target="_self">정보 은닉과 dict</a>
                </div>
                <div class="card card-body">
                    <a href="./property" target="_self">프로퍼티</a>
                </div>
                <div class="card card-body">
                    <a href="./slots" target="_self">슬롯</a>
                </div>
                <div class="card card-body">
                    <a href="./list_comprehension" target="_self"
                        >리스트 컴프리헨션</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./iterable_iterator" target="_self"
                        >Iterable 객체와 Iterator 객체</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./lambda" target="_self"
                        >객체처럼 다뤄지는 함수 그리고 람다</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./map_and_filter" target="_self">map&filter</a>
                </div>
                <div class="card card-body">
                    <a href="./func_comprehension" target="_self"
                        >map&filter를 대신하는 리스트 컴프리헨션</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./generator" target="_self">generator 함수</a>
                </div>
                <div class="card card-body">
                    <a href="./generator_expression" target="_self"
                        >generator expression</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./tuple_packing" target="_self"
                        >튜플의 패킹과 언패킹</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./named_tuple" target="_self">네임드 튜플</a>
                </div>
                <div class="card card-body">
                    <a href="./prod_dict" target="_self">dict의 생성과 zip</a>
                </div>
                <div class="card card-body">
                    <a href="./dict_lupin" target="_self"
                        >dict의 루핑 기술과 컴프리헨션</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./func_star_rule" target="_self"
                        >함수 호출과 매개변수 선언에 있어서 *과 **의 사용규칙</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./dict_defaultdict" target="_self"
                        >dict & defaultdict</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./ordered_dict" target="_self"
                        >dict & OrderedDict</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./set_frozenset" target="_self"
                        >자료형 분류와 set&frozenset</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./sort" target="_self">정렬 기술</a>
                </div>
                <div class="card card-body">
                    <a href="./enumerate" target="_self"
                        >enumerate과 문자열 비교</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./expression_comb" target="_self"
                        >표현식 기반 문자열 조합</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./method_str" target="_self"
                        >메소드 기반 문자열 조합</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./class_obj" target="_self"
                        >클래스와 객체의 본질</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./inheritance" target="_self">상속</a>
                </div>
                <div class="card card-body">
                    <a href="./isinstance" target="_self"
                        >isinstance함수와 object클래스</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./special_method" target="_self">스페셜 메소드</a>
                </div>
                <div class="card card-body">
                    <a href="./operator_overload" target="_self"
                        >연산자 오버로딩</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./nested_func" target="_self"
                        >네스티드 함수와 클로저</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./decorator" target="_self">데코레이터</a>
                </div>
                <div class="card card-body">
                    <a href="./class_method" target="_self"
                        >클래스 메소드와 static 메소드</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./name_main" target="_self">__name__ & __main__</a>
                </div>
            </div>
            <li class="sidebar-group" role="menuitem">
                <p
                    class="sidebar-heading"
                    data-bs-toggle="collapse"
                    href="#pythonAdditional"
                    aria-expanded="false"
                    aria-controls="pythonAdditional"
                    onclick="rotate(this)"
                >
                    <span class="sidebar-heading--name">Python 추가 내용</span>
                    <!-- <i class="fas fa-caret-right fa-xs"></i> -->
                </p>
            </li>
            <div class="collapse" id="pythonAdditional">
                <div class="card card-body">
                    <a href="./dataframe" target="_self"
                        >Python 데이터 프레임
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./sqlAlchemy" target="_self"
                        >Python SQL alchemy를 통해 mysql 연동하기
                    </a>
                </div>
                <div class="card card-body">
                    <a href="./join" target="_self"
                        >Python 문자열 자르고 합치기 - join, split함수</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./getitem" target="_self"
                        >Python getitem, setitem 스페셜메소드</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./pylance" target="_self"
                        >Pylance Unresolved import warnings 트러블슈팅</a
                    >
                </div>
                <div class="card card-body">
                    <a href="./django-css" target="_self"
                        >Python django - How to add css to django application</a
                    >
                </div>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse6"
                aria-expanded="false"
                aria-controls="collapse6"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">CSS</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse6">
            <div class="card card-body">
                <a href="./CSS_begin" target="_self"
                    >CSS 기초 - block ~ Selector, state</a
                >
            </div>
            <div class="card card-body">
                <a href="./CSS_Advanced" target="_self"
                    >CSS Transition, transform, animation</a
                >
            </div>
            <div class="card card-body">
                <a href="./CSS_additional" target="_self"
                    >CSS Icon, Block Element Modifier, Font</a
                >
            </div>
            <div class="card card-body">
                <a href="./resetCSS" target="_self">reset CSS</a>
            </div>
            <div class="card card-body">
                <a href="./cssbox" target="_self"
                    >CSS box, text-transformation, z-index, flex-children,
                    forwards-animation, will change</a
                >
            </div>
            <div class="card card-body">
                <a href="./textarea" target="_self"
                    >CSS autocomplete, textarea resize, div에 onclick줘서
                    링크걸기</a
                >
            </div>
            <div class="card card-body">
                <a href="./bootstrap" target="_self"
                    >bootstrap 요소 클래스이름 충돌 관련 이슈 정리</a
                >
            </div>
            <div class="card card-body">
                <a href="./collapse" target="_self"
                    >bootstrap collapse이용하기</a
                >
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#javascript"
                aria-expanded="false"
                aria-controls="javascript"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Javascript</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="javascript">
            <div class="card card-body">
                <a href="./DOM" target="_self"
                    >Javascript 객체 모델 - DOM, BOM, JS Core</a
                >
            </div>
            <div class="card card-body">
                <a href="./lifecode" target="_self">생활코딩 Javascript</a>
            </div>
            <div class="card card-body">
                <a href="./jsthis" target="_self">Javascript this</a>
            </div>
            <div class="card card-body">
                <a href="./jspromise" target="_self">Javascript 비동기 처리</a>
            </div>
            <div class="card card-body">
                <a href="./nodejs" target="_self"
                    >node JS - SET UP(npm, create project, package.json기초,
                    서버 개설, babel JS, nodemon)</a
                >
            </div>
            <div class="card card-body">
                <a href="./nomadjs" target="_self">Vanilla JS 문법들</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#vue"
                aria-expanded="false"
                aria-controls="vue"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Vue</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="vue">
            <div class="card card-body">
                <a href="./mount" target="_self">Vue에서의 마운트란 </a>
            </div>
            <div class="card card-body">
                <a href="./vueComponent" target="_self">Vue 컴포넌트</a>
            </div>
            <div class="card card-body">
                <a href="./vueData" target="_self">Vue Data옵션 </a>
            </div>
            <div class="card card-body">
                <a href="./vueCaptain" target="_self"
                    >Vue.js 기초 - 인프런 캡틴판교님</a
                >
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse7"
                aria-expanded="false"
                aria-controls="collapse7"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Git</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse7">
            <div class="card card-body">
                <a href="./github_page" target="_self">github페이지 제작하기</a>
            </div>
            <div class="card card-body">
                <a href="./git_command" target="_self"
                    >git 명령어 모음 (2021.02.08)</a
                >
            </div>
            <div class="card card-body">
                <a href="./gitignore" target="_self"
                    >git 레포지토리 방문자 수 표시 (꾸미기)</a
                >
            </div>
            <div class="card card-body">
                <a href="./git_fetch" target="_self">git fetch & git pull</a>
            </div>
            <div class="card card-body">
                <a href="./git_submodule" target="_self"
                    >git submodule 총정리</a
                >
            </div>
            <div class="card card-body">
                <a href="./open_source" target="_self"
                    >2021 오픈소스 컨트리뷰션
                </a>
            </div>
            <div class="card card-body">
                <a href="./gitBranch" target="_self">Git 브랜치 전략</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#collapse8"
                aria-expanded="false"
                aria-controls="collapse8"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">Tools</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="collapse8">
            <div class="card card-body">
                <a href="./vscode_shortcut" target="_self"
                    >vscode 단축키 모음</a
                >
            </div>
            <div class="card card-body">
                <a href="./vscode_Prettier" target="_self"
                    >vscode prettier 셋업</a
                >
            </div>
            <div class="card card-body">
                <a href="./jekyll" target="_self">Jekyll 기반 블로그 개설</a>
            </div>
        </div>

        <li class="sidebar-group" role="menuitem">
            <p
                class="sidebar-heading"
                data-bs-toggle="collapse"
                href="#hufs"
                aria-expanded="false"
                aria-controls="hufs"
                onclick="rotate(this)"
            >
                <span class="sidebar-heading--name">HUFS 모각코 기록</span>
                <i class="fas fa-caret-right fa-xs"></i>
            </p>
        </li>
        <div class="collapse" id="hufs">
            <div class="card card-body">
                <a href="./design" target="_self">2021.07 week2 </a>
            </div>
            <div class="card card-body">
                <a href="./week3" target="_self">2021.07 week3 </a>
            </div>
            <div class="card card-body">
                <a href="./week4" target="_self">2021.07 week4 </a>
            </div>
            <div class="card card-body">
                <a href="./week5" target="_self">2021.07 week5 </a>
            </div>
            <div class="card card-body">
                <a href="./week6" target="_self">2021.08 week1 </a>
            </div>
        </div>

        <!-- <li class="sidebar-group" role="menuitem">
      <p
        class="sidebar-heading"
        data-bs-toggle="collapse"
        href="#collapse9"
        aria-expanded="false"
        aria-controls="collapse9"
        onclick="rotate(this)"
      >
        <span class="sidebar-heading--name">Git</span>
        <i class="fas fa-caret-right fa-xs"></i>
      </p>
    </li>
    <div class="collapse" id="collapse9">
      <div class="card card-body">Hello</div>
      <div class="card card-body">Hello2</div>
    </div> -->
    </ul>
</div>
