.main-post {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 1.5rem;
  padding-left: 20%;
  box-sizing: border-box;
  width: 70%;
  position: relative;
  top: 3.6rem;
  left: 13rem;
}
.main-post--content {
  padding-bottom: 5rem;
}
.main-post--title {
  font-family: "Gugi", cursive;
  font-size: 4rem;
  -webkit-font-smoothing: antialiased;
  color: var(--article-color);
}

.main-post ul {
  font-size: 16px;
  line-height: 1.5rem;
  list-style: none;
}
img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-post li {
  display: list-item;
  padding-left: 1rem;
}
ol,
p,
ul {
  line-height: 1.7;
}
ol {
  font-size: 1rem;
  margin-left: 1rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.1em;
}

h2,
h3 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-post--content h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-post--content a {
  color: blue;
}
.main-post--content h1 a,
.main-post--content h2 a,
.main-post--content h3 a,
.main-post--content h4 a,
.main-post--content h5 a,
.main-post--content h6 a {
  color: white;
}
.main-post--content h1:hover a,
.main-post--content h2:hover a,
.main-post--content h3:hover a,
.main-post--content h4:hover a,
.main-post--content h5:hover a,
.main-post--content h6:hover a {
  color: var(--title-color);
}
